<div class="col-lg-4 col-md-6">
  <div class="icon-box">
    <div class="icon">
      <i class="bi {{ icon_class ? icon_class : 'bi-cash-stack'}}" style="color: {{ icon_color ? icon_color : '#ff689b' }};"></i>
    </div>
    <h4 class="title"><a href="">{{ service_data_title }}</a></h4>
    <p class="description">{{ service_data_description }}</p>
  </div>
</div>