<div class="col-lg-3 col-6 text-center">
  <span data-purecounter-start="0" data-purecounter-end="{{ count_number }}" data-purecounter-duration="1" class="purecounter"></span>
  <p>{{ counter_name }}</p>
</div>